[Unit]
Description=BigClown gateway between Base unit connected via USB and MQTT broker
After=network.target

[Service]
ExecStart=/usr/bin/bc-gateway -W -c /etc/bigclown/bc-gateway.yml
User=root
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target

