[Unit]
Description=BigClown gateway between Base unit connected via USB and MQTT broker
After=network.target mosquitto.service dev-stm32ACM0.device
BindsTo=dev-stm32ACM0.device
Requires=mosquitto.service
Requisite=dev-stm32ACM0.device

[Service]
ExecStart=/usr/bin/bc-gateway -c /etc/bc-gateway.yml
User=bigclown
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=dev-stm32ACM0.device
